*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color:darkred;
    height: 6rem;
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
    height: 4rem;
    width: 10vw;
    justify-content: center;
    align-items: flex-end;
    margin: auto;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Rubik Wet Paint', system-ui;
    font-family: 'Ubuntu', sans-serif;
}
.logo img{
    max-width: 30%;
}
main{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgb(34, 32, 32);
    height: 100vh;
}
hr{
    border: 1px solid white;
    margin: 0 300px;
    height: 2px;
    
}
section{
    margin: 0 auto;
    background-color: rgb(34, 32, 32);
}
section h1{
    margin: 4rem auto;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Rubik Wet Paint', system-ui;
    font-family: 'Ubuntu', sans-serif;
}
#initial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
 height: 3rem;
 width: 30vw;
 margin: 4rem 0;
 display: flex;
 justify-content: center;   
}
form input{
    flex: 1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: large;
    padding: 5px;
    border: none;
}
form button{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    font-size: large;
    background-color: darkred;
    color: white;
    padding: 5px;
    border: none;
    width: 100px;
}
form button:hover{
    background-color: black;
    transition: 0.3s;
}
.filmes{
    display: flex;
    flex-wrap: wrap;
    margin:  4rem auto;
}
.item{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 30%;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Rubik Wet Paint', system-ui;
    font-family: 'Ubuntu', sans-serif;
    align-content: center;
    margin: 1rem auto;
    font-size: 70%;
    border: 0.5px solid white;
    border-radius: 5px;
    padding: 0.7rem;
    cursor: pointer;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s, transform 0.3s;
}
.altura2{
    height: 100vh;
}
.item:hover{
    background-color: white;
    color: black;
    transition: 0.3s;
}
.item img{
    max-width: 30%;
}
.text{
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
footer{
    height: 6rem;
    background-color: darkred;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Rubik Wet Paint', system-ui;
    font-family: 'Ubuntu', sans-serif;
    gap: 1rem;
    justify-content: center;
}
.redes{
    display: flex;
    gap: 1rem;
}
.redes a{
    color: white;
    text-decoration: none;
    border: 1px solid;
    border-radius: 5px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 5px;
}
.redes a:hover{
    color: black;
}
.redes a:active{
    width: 100px;
    transition: 0.3s;
}
.redes a img{
    width: 20%;
}
.Details{
    display: flex;
    padding: 1rem;
    position: fixed;
    min-height: 30vh;
    width: 30vw;
    margin: 4rem 0;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Rubik Wet Paint', system-ui;
    font-family: 'Ubuntu', sans-serif;
    opacity: 0;
    border: 1px solid;
}
.show {
    opacity: 1;
    transition: 0.3s;
}
.Details img{
    max-width: 50%;
    left: 0;
}
.DetailsText{
    display: flex;
    justify-content: center;
    margin: 0 0 0 4rem;
    gap: 1rem;
    flex-direction: column;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Rubik Wet Paint', system-ui;
    font-family: 'Ubuntu', sans-serif;
}
.Details button{
    position: fixed;
    right: 2rem;
    top: 1rem;
    cursor: pointer;
    padding: 10px;
    border: none;
    background-color: brown;
    color: white;
}
.NF{
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Rubik Wet Paint', system-ui;
    font-family: 'Ubuntu', sans-serif;
}
@media(max-width:999px) {
    .logo img{
        max-width: 80%;
    }
    form{
        width: 70vw;
    }
    .item{
        width: 40%;    
    }
    .item img{
        max-width: 80%;
    }
    footer{
        height: auto;
        padding: 1rem;
    }
    .redes{
        flex-direction: column;
        
    }
    .Details{
        width: 80vw;
    }
    .Details button{
        padding: 8px;
        right: 1rem;
    }
    .DetailsText{
        margin: 0 0 0 1rem;
        gap: 0;
    }
}